@import url('https://fonts.googleapis.com/css2?family=Lexend+Giga:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    height: 100%;
}

body{
    max-height: 100px;
}

.container{
    margin: 10% 30%;
    width: 40vw;
}

.image-container{
    height: 40vh;
}

.scenery{
    width: 100%;
}

.button-container{
    height: 7vh;
}

.click-me-btn{
    width: 100%;
    background: linear-gradient(45deg, yellow, lightgreen, red);
    font-family: "Lexend Giga", sans-serif;
    font-size: 1.5rem;
}